In [5]:
import pandas as pd
import os

In [6]:
dataset_raw = pd.read_csv(os.getcwd() + '/data/HNEI_Processed/Final Database.csv')
dataset_raw.drop(['Unnamed: 0', 'Cycle_Index'], axis=1, inplace=True)

In [7]:
dataset_raw.head()

,Discharge Time (s),Decrement 3.6-3.4V (s),Max. Voltage Dischar. (V),Min. Voltage Charg. (V),Time at 4.15V (s),Time constant current (s),Charging time (s),Total time (s),RUL
0,2595.30,1151.488500,3.670,3.211,5460.001,6755.01,10777.82,14648.45,1112
1,7408.64,1172.512500,4.246,3.220,5508.992,6762.02,10500.35,19124.28,1111
2,7393.76,1112.992000,4.249,3.224,5508.993,6762.02,10420.38,19029.51,1110
3,7385.50,1080.320667,4.250,3.225,5502.016,6762.02,10322.81,18923.65,1109
4,65022.75,29813.487000,4.290,3.398,5480.992,53213.54,56699.65,104171.80,1107

In [8]:
data = dataset_raw.values[:, :-1]

In [9]:
data.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [10]:
class Pipeline:
    def __init__(self, scalar):
        self.scalar = scalar
    
    def fit(self, X, y):
        X = self.scalar.fit_transform(X)
        return X, y
    
    def transform(self, X, y):
        X = self.scalar.transform(X)
        return X, y

In [15]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
import numpy as np

In [21]:
# Import data
data = pd.read_csv(os.getcwd() + '/data/HNEI_Processed/Final Database.csv')
data.drop(['Unnamed: 0', 'Cycle_Index'], axis=1, inplace=True)
X = data.drop(['RUL'], axis=1)
y = data['RUL']
scaler = RobustScaler()
pipeline = Pipeline(scaler)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=2023, shuffle =True)
X_train_s, y_train_s = pipeline.fit(X_train, y_train)
X_test_s, y_test_s = pipeline.transform(X_test, y_test)

In [22]:
dataset = pd.DataFrame(X_train_s).join(y_train_s)

In [23]:
dataset.head()

,0,1,2,3,4,5,6,7,RUL
0,-0.492032,-0.424887,-0.648,0.494253,-0.474185,-0.492741,-0.434818,-0.470196,1112.0
1,0.685912,0.902245,0.552,-0.747126,0.737836,0.681240,0.740116,0.646322,1111.0
2,0.663788,0.886463,0.640,-0.678161,0.716502,0.666723,0.698404,0.614969,1110.0
3,-0.091697,-0.023366,-0.024,-0.040230,-0.082596,-0.101403,-0.179224,-0.165418,1109.0
4,-0.795033,-0.683249,-0.984,0.689655,-0.704526,-0.753553,-1.080277,-0.938703,1107.0

In [16]:
X_train_s.shape, y_train_s.shape

((10092, 8), (10092,))

In [18]:
train_dataset = np.concatenate((X_train_s,y_train_s), axis=0)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [ ]:
train_dataset.shape